<form [formGroup]="practiceForm">
    <div class="conatiner">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 p-3 border rounded mt-4 ">
                <label class="mt-2">Name</label>
                <input type="text" class="form-control mt-3" formControlName="name">
                <div>
                    <small *ngIf="practiceForm.get('name')?.invalid &&
                        practiceForm.get('name')?.touched ">
                        *Name is required field
                    </small>
                </div>

                <label class="mt-2">Email</label>
                <input type="text" class="form-control mt-3" formControlName="email">
                <div>
                    <small *ngIf="practiceForm.get('email')?.invalid &&
                        practiceForm.get('email')?.touched ">
                        *Email is required field
                    </small>
                </div>

                <label class="mt-2">Mobile number</label>
                <input type="text" class="form-control mt-3" formControlName="mobileNumber">
                <div>
                    <small *ngIf="practiceForm.get('mobileNumber')?.invalid &&
                        practiceForm.get('mobileNumber')?.touched ">
                        *MobileNumber is required field
                    </small>
                </div>

                <label class="mt-2">password</label>
                <input type="text" class="form-control mt-3" formControlName="password">
                <div>
                    <small *ngIf="practiceForm.get('password')?.invalid &&
                        practiceForm.get('password')?.touched ">
                        *Password is required field
                    </small>
                </div>

                <!-- formGroup example -->

                <div formGroupName="address">
                    <label class="mt-2">city</label>
                    <input type="text" class="form-control mt-3" formControlName="city">

                    <div>
                        <small *ngIf="practiceForm.get('address.city')?.invalid &&
                            practiceForm.get('address.city')?.touched ">
                            *city field is required field
                        </small>
                    </div>

                    <label class="mt-2">state</label>
                    <input type="text" class="form-control mt-3" formControlName="state">

                    <div>
                        <small *ngIf="practiceForm.get('address.state')?.invalid &&
                            practiceForm.get('address.state')?.touched">
                            *state field is required field
                        </small>
                    </div>

                    <label class="mt-2">pincode</label>
                    <input type="text" class="form-control mt-3" formControlName="pincode">

                    <div>
                        <small *ngIf="practiceForm.get('address.pincode')?.invalid &&
                            practiceForm.get('address.pincode')?.touched ">
                            *pincode field is required field
                        </small>
                    </div>
                </div>

                <!-- formArray example -->

                <!-- <div formArrayName="skills">
                    <div *ngFor="let userFormGroups of practiceForm.get('skills') let i = index">
                        <input type="text" placeholder="add skills..." [formControlName]="i">
                    </div>
                </div>   -->

                <input type="submit" class="form-control mt-3 btn btn-primary" (click)="submit()"
                    [disabled]="!practiceForm.valid">
            </div>
        </div>
    </div>
</form>